// ---- ---- ---- ---- VARIABLES ---- ---- ---- ----
@use '../../styles/variables' as vars;
// ---- ---- ---- ---- MIXINS ---- ---- ---- ----
@use '../../styles/mixins';

.movie {
    display: flex;  
    flex-direction: column;
    place-items: center;
    position: relative;

    flex: 0 0 20%;
    aspect-ratio: 9 / 14;
    padding: 0 0.1rem;
    // box-sizing: border-box;

    overflow: hidden;
    width: 100%;
    cursor: pointer;

    border-radius: .3rem;
    transition: .15s transform ease-in;
    z-index: 2;

    img{
      margin: 0;
      padding: 0.1rem;
      width: 100%;
      // height: 100%;
      box-sizing: border-box;
      transition: .4s border-radius ease-in-out;
      contain: layout paint;
      grid-area: image;

    }

    // .movie_info {
    //   flex-direction: column;
    //   // justify-items: center;
    //   align-items: center;
    //   // justify-content: space-around;
    //   grid-area: info;

    //   width: 100%;
    //   box-sizing: border-box;

    //   // padding: 5% 3% 3% 5%;
    //   container-type: inline-size;
    //   border-radius: 0 0 2% 2%;

    //   // box-shadow: vars.$secundary-black 0px 8px 13px;
    //   container-type: inline-size;

    //   p:first-child {
    //     font-size: clamp(0.4rem, 5cqi, .8rem);
    //     margin: 0;
    //   }
    // }

    // .buttons {
    //   // display: flex;
    //   grid-area: buttons;
    //   align-self: start;
    // }

    // &.hovering {
    //   display: grid;;
      
    //   grid-template-columns: 2fr 2fr 1fr;
    //   grid-template-rows: 4fr auto;
    //   grid-template-areas: 
    //     "image image buttons"
    //     "info info info" 
    //   ;
    //   // grid-template-columns: 2fr 1fr 1fr;
    //   // grid-template-rows: 4fr 1fr;
    //   box-shadow: vars.$secundary-black 0px 0px 13px;
    //   padding: 0;
    //   // overflow: visible;
    //   width: 12rem;

    //   border-radius: 8px;
    //   background-color: vars.$primary-black;

    //   .movie_info{
    //     display: flex;
        
        
    //   }

    // }
  }


  // Lograr que la película muestre la información de forma correcta, sin cortarla y con border redondeados

  // El contenedor principal tiene que albergar tanto a la imagen como a la información
