@use './src/styles/globals/variables.scss' as vars;
@use './src/styles/globals/mixins';

.movie {
    display: flex;  
    flex-direction: column;
    place-items: center;
    position: relative;

    // just to try 
    flex: 0 0 20%;
    aspect-ratio: 9 / 14;
    padding: 0 .1rem;
    box-sizing: border-box;

    overflow: visible;
    width: 100%;
    cursor: pointer;

    border-radius: .3rem;
    box-sizing: border-box;
    transition: .15s transform ease-in;
    z-index: 2;

    transform-origin: center;

    // just to try
  

    img{
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      transition: .4s border-radius ease-in-out;
      contain: layout paint;

    }

    .movie_info {
      visibility: hidden;
      position: absolute;
      flex-direction: column;
      align-content: start;
      justify-content: space-around;

      background-color: vars.$primary-black;
      top: 100%;
      width: 100%;
      box-sizing: border-box;

      padding: 5% 3% 3% 5%;
      container-type: inline-size;
      border-radius: 0 0 2% 2%;

      box-shadow: vars.$secundary-black 0px 8px 13px;

      h3{
        align-self: flex-start;
        margin: 0;
        // margin-bottom: .6rem;
        text-wrap: balance;
        align-self: center;
        text-align: center;
        // font-size: clamp(0.6rem, 2.6vw, 1.3rem);
      }

      div {
        container-type: inline-size;

        p:first-child {
          font-size: clamp(0.4rem, 5cqi, .8rem);
        }
      }
    }

    &:hover {
     // z-index: 12;
      transform: scale(2, 1.5) translateY(-8%);
      transition: .2s transform ease-in .8s;
      

      img {
        border-radius: 1% 1% 0% 0%;
      }

      .movie_info{
        visibility: visible;
        transition: 0.2s visibility ease-in-out 0.8s;
        
      }
    }

    &.hovering {
      z-index: 12;
      box-shadow: vars.$secundary-black 0px 0px 13px;
    }
  }
