// ---- ---- ---- ---- VARIABLES ---- ---- ---- ---- 
@use '../globals/variables.scss' as vars;

.white-btn, .black-btn, .red-btn {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    min-width: max-content;
    
    border-radius: 100px;
    border: none;
    padding: clamp(0.3rem, .9vw, .5rem) clamp(0.8rem, 2.2vw, 1.2rem);
    gap: clamp(0.3rem, 1vw, 0.6rem);

    font-family: 'Roboto Condensed';
    font-size: clamp(.5rem, 2.1vw, 1rem);
    font-weight: 700;

    cursor: pointer;
  }

  .white-btn {
    background-color: vars.$primary-white;
  }

  .black-btn {
    background-color: vars.$primary-black;
  }
  .red-btn {
    background-color: vars.$primary-red;
  }