// ---- ---- ---- ---- RESETS ---- ---- ---- ----
@use './src/scss/resets';
// ---- ---- ---- ---- GLOBAL CLASSES ---- ---- ---- ----
@use './src/scss/globalClasses.scss';
// ---- ---- ---- ---- STYLES COMPONENTS ---- ---- ---- ----
@use './src/styles/components/buttons';
// ---- ---- ---- ---- VARIABLES ---- ---- ---- ----
@use './src/styles/globals/variables.scss' as vars;
// ---- ---- ---- ---- FONTS STYLES ---- ---- ---- ---- 
@use './src/styles/globals/typography';
// ---- ---- ---- ---- EFFECTS ---- ---- ---- ----
@use './src/styles/globals/effects';

$black01: rgba(89,89,89, 1);
$black02: rgba(38,38,38, 1);
$black03: rgba(12,12,12, 1);

$primary: #111215;

#app{
  width:100%;
  min-height: 100vh;
  background-color: vars.$primary-black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;

  // Classes for texts in the app
  .roboto-regular {
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
  }

  .roboto-bold {
    font-family: 'Roboto', sarif;
    font-weight: 700;
    font-style: normal;
  }

  .icon-container { // clase global para los iconos 
    display: flex;
    flex-shrink: 0;
    width: vars.$medium-font;
    svg {
      width: 100%;
      fill: vars.$primary-white;
     }
  }

  .container{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    //max-width: 1000px;

    // For all the movies container
    .movie {
      display: flex;
      flex-direction: column;
      place-items: center;
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: relative;

      border-radius: .3rem;
      box-sizing: border-box;
      
      img{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        transition: .3s all ease-in-out;
      }
      .movie-info {
        position: absolute;
        display: none;
        flex-direction: column;
        align-content: start;
        justify-content: space-evenly;
        z-index: 1;
        width: 100%;
        height: 100%;
        box-sizing: border-box;

        padding: 10% 3% 3% 5%;
        transition: .3s all ease-in-out;
        h3{
          margin: 0;
          margin-bottom: .6rem;
          // font-size: 2.6vw;
          font-size: clamp(0.6rem, 2.6vw, 1.3rem);
        }

        section{
          display: flex;
          flex-direction: column;
          span{
            font-weight: bold;
          }
          p{
            margin: .2rem;
            justify-self: end;
            // font-size: 1.9vw;
            font-size: clamp(0.37rem, 1.6vw, .8rem);
          }
        }
      }
      &:hover {
          
        img {
          filter:brightness(0.25);
        }
        .movie-info{
          display: flex;
        }
      }
    }

    .movies-section{
      width: 100%;
      flex-grow: 1;
      background-color: transparent;
      transform: translateY(-4vw);

      .no-result {
        text-align: center;
      }

      .movies-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));

        
        align-content: center;
        justify-content: space-around;
        place-items: center;
        gap: 1.6rem 1vw;
        width: 100%;
        
        padding: 0 5% 5% 5%;
        box-sizing: border-box; 

        overflow: visible;
      }
    }

    @media (max-width: 495px) {
      .movies-section .movies-container{
        grid-template-columns: repeat(auto-fill, minmax(5.5rem, 1fr));

        .movie {
          .movie-info {
            font-size: max(0.6rem, 3vw);
            h3{
              margin-bottom: .2rem;
            }
            p{
              margin: .1rem;
            }
          }
        }  
      }
    }
  }
}


