// ---- ---- ---- ---- VARIABLES ---- ---- ---- ----
@use '../../../../styles/variables' as vars;

.hamburger {
      display: flex;
      background-color: transparent;
      border: none;
      padding: 0;
      cursor: pointer;
      svg {
        width: calc(vars.$medium-font + 1.5vw);
        height: auto;
      }
}

// @media (max-width: 650px) {
//     .hamburger {
//     display: flex;
//    }
// }