@use './variables' as vars;

@mixin header-gradient($direction: to bottom) {
    background: linear-gradient($direction, #111215, #111215bb, #00000015);
}

@mixin line-gradient($direction: to right) {
    background: linear-gradient($direction, vars.$primary-red, transparent);
}

@mixin regular-shadow() {
    box-shadow: black 0px 0px 3px 0px;
}