// ---- ---- ---- ---- VARIABLES ---- ---- ---- ----
@use './variables' as vars;

.card-text {
  font-family: 'Roboto', serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(0.4rem, 6cqi, .8rem);
}

.card-title {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  font-size: clamp(0.5rem, 9cqi, 1.2rem);
  line-height: 1.2;
}

// .big-text {
//   font-family: 'Roboto', serif;
//   font-weight: 400;
//   font-style: normal;
//   // font-size: 18px;
//   font-size: clamp(.5rem, 2.5vw, 1.4rem);
//   // line-height: 1.4;
//   line-height: clamp(.5rem, 2.6vw, 1.4rem);
// }

.big-text {
  font-family: 'Roboto Condensed', serif;
  font-weight: 400;
  font-style: normal;
  // font-size: 18px;
  font-size: clamp(.75rem, 1vw + 0.5rem, 1.25rem);
  // line-height: 1.4;
  line-height: clamp(.5rem, 2.6vw, 1.4rem);
}

// .big-title {
//   font-family: 'Montserrat';
//   font-weight: 800;
//   font-style: normal;
//   // font-size: 48px;
//   font-size: clamp(1.2rem, 5vw, 3rem);
//   // line-height: 1.2;
//   line-height: clamp(1.2rem, 5vw, 2.5rem);
// }


.header_link {
  font-family: 'Montserrat';
  font-weight: 600;
  // font-size: clamp(.8rem, 2.8vw, 1.1rem);
  font-size: clamp(0.7rem, 1vw + 0.4rem, 0.93rem);
  text-decoration: none;
  font-style: none;
  transform: none;
}


.big-title {
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: normal;
  // font-size: 48px;
  font-size: clamp(1.2rem, 5vw, 3rem);
  // line-height: 1.2;
  line-height: clamp(0.975rem, 2vw + 1rem, 1.5rem);
}


// FONTS AND FONT SIZES
.big-title1 {
  font-size: clamp(1rem, 1.4vw + 1rem, 2.19rem);
  font-family: 'Montserrat';
  font-style: normal;
}

.title { 
  font-size: clamp(1.17rem, 2vw + 1rem, 1.46rem);
  font-family: 'Montserrat';
  font-style: normal;
}

.subtitle {
  font-size: clamp(0.93rem, 1.5vw + 0.5rem, 1.16rem); 
  font-family: 'Montserrat';
  font-style: normal;
} 

.subtitle2 {
  font-size: clamp(0.83rem, 1.3vw + 0.4rem, 1.03rem); 
  font-family: 'Montserrat';
  font-style: normal;
}

.body {
  font-size: clamp(0.75rem, 1vw + 0.4rem, 0.93rem);
  font-family: 'Roboto Condensed', serif;
  font-style: normal;
}

// FONT WEIGHT
.bolder {
  font-weight: 800;
}

.bold {
  font-weight: 600;
}

.medium {
  font-weight: 400;
}

.light {
  font-weight: 200;
}