// COLORS
$primary-white: #F2F2F2;
$primary-black: #111215;
$primary-red: #F20C36;

$secundary-black: #050606;

$white-color-transparent: #f2f2f253;

// FONTS SIZES

$medium-font: clamp(.9rem, 2.1vw, 1rem);
// $medium-font: clamp(.5rem, 2.1vw, 1rem); Tamaño original del font medium

$small-shadow: black 0px 0px 3px 0px;