// ---- ---- ---- ---- VARIABLES ---- ---- ---- ----
@use './variables' as vars;

$white-color: #F2F2F2;
$primary: #111215;

.title1 {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    letter-spacing: .7px;

    color: $white-color;
}

.title2 {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 0.9rem;

    color: $white-color;
}

.text {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;

    color: $white-color;
}

// FONT COLORS

.c_black {
  color: vars.$primary-black;
}
  
.c_white {
  color: vars.$primary-white;
}
