// ---- ---- ---- ---- VARIABLES ---- ---- ---- ----
@use './src/styles/globals/variables' as vars;

.header {
    position: fixed;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: hidden;

    min-height: max-content;
    width: inherit;
    max-width: inherit;
    padding: 0.5rem 1rem;

    color: vars.$primary-white;
    background: vars.$header-gradient;
    transition: transform ease-in-out .4s;


    .header_bar {
      display: flex;
      gap: 2rem;

      div {
        display: flex;
        align-content: center;
        justify-content: center;
        height:max-content;
        position: relative;
  
        .links{
          text-decoration: none;
          font-style: none;
          transform: none;
        }

        .links.is_active::before {
          content: '';
          display: block;
          position: absolute;
          height: 15%;
          width: 70%;

          background-color: vars.$primary-red;
          bottom: -15%;
          border-radius: 2px;

          left: 50%;
          transform: translateX(-50%);
        }
   
      }
    }

    .search_container {
      display: flex;
      overflow: hidden;
      max-width: 23px;
      background-color: transparent;
      
      padding: 0.1rem;
      border: solid transparent 2px;
      border-radius: 999px;
      transition: max-width .4s ease-in-out;

      .search_btn {
        background-color: inherit;
        color: inherit;
        cursor: pointer;
        border: none;
        
        padding: .2rem;
        font-size: 1.2rem;
      }

      .input_container {
        display: flex;
        place-items: center;
        transition: width .3s ease;
      
        transform-origin: right;
        //background-color: white;

        .search_input {
          background-color: transparent;
          color: inherit;
          border: 0;
          outline: none;
          font-size: inherit;
          
        }

        div{
          display: flex;
          margin-right: .5rem;
          width: 1rem;
          .close_icon {
            font-size: 1.4rem;
            font-weight: bold;
            cursor: pointer;
            color: vars.$primary-white;
          }
        }
      }
      &.is_active {
        max-width: 700px;
        border-color: vars.$primary-white;  
      }
    }

    &.hidden {
      transform: translateY(-100%);
    }
  }