// ---- ---- ---- ---- VARIABLES ---- ---- ---- ----
@use '../../styles/variables' as vars;
@use '../../styles/mixins';

.header {
    position: fixed;
    z-index: 100;

    display: flex;
    align-items: center;
    align-content: center  ;
    justify-content: space-between;
    box-sizing: border-box;

    min-height: max-content;
    width: inherit;
    max-width: inherit;
    padding: min(1.5%, 0.6rem) min(3.5%, 1.2rem);

    color: vars.$primary-white;
    //  @include mixins.header-gradient();
    transition: transform ease-in-out .4s;

    &.hidden {
      transform: translateY(-100%);
    }

    .desktop_navbar {
      transition: opacity .3s ease;
      width: 100%;

      margin: 0 0.5rem;

      ul {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 0.4rem;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
  
        li {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
        }
      }
    }

    .mobile_menu {
      display: none;
      z-index: 200;

      position:absolute;
      height: 100vh;
      width: 60vw;
      top: 0;
      left: 0;

      @include mixins.header-gradient(to right);
      transform: translateX(-100%);
      transition: transform .3s ease-in;

      // gap: 2rem;
      padding: inherit;

      &.isOpen {
        transform: translateX(0);
      }

      .closeBtn {
        display: flex;
        background-color: transparent;
        border: none;
        padding: 0;
        margin-top: .3rem;

        svg {
          width: calc(vars.$medium-font + 1.5vw);
          height: auto;
        }
      }

 
    }

    @media (max-width: 650px) {
      // .desktop_navbar {
      //   display: none;
      // }
  
      .mobile_menu {
        display: flex;
        flex-direction: column;
        ul {  
          flex-direction: column;
        }
      }
    }
  }

  .header.searchActive{
    justify-content: end;
  }

  .header.searchActive .desktop_navbar{
    opacity: 0;
    display: none;
    pointer-events: none;
  }

  .header.searchActive .burgerBtn {
    opacity: 0;
    display: none;
    pointer-events: none;
  }