// ---- ---- ---- ---- VARIABLES ---- ---- ---- ----
@use './src/styles/globals/variables' as vars;

.header {
    position: fixed;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: hidden;

    min-height: max-content;
    width: inherit;
    max-width: inherit;
    padding: min(1.5%, 0.6rem) min(3.5%, 1.2rem);

    color: vars.$primary-white;
    background: vars.$header-gradient;
    transition: transform ease-in-out .4s;


    .header_bar {
      display: flex;
      gap: 2rem;

      div {
        display: flex;
        align-content: center;
        justify-content: center;
        height:max-content;
        position: relative;
  
        .links{
          text-decoration: none;
          font-style: none;
          transform: none;
        }

        .links.is_active::before {
          content: '';
          display: block;
          position: absolute;
          height: 15%;
          width: 70%;

          background-color: vars.$primary-red;
          bottom: -15%;
          border-radius: 2px;

          left: 50%;
          transform: translateX(-50%);
        }
   
      }
    }

    .search_container {
      display: flex;
      overflow: hidden;
      max-width: max(3%, 1rem);
      background-color: transparent;
      font-size: vars.$medium-font;
      
      padding: 0.1rem;
      border: solid transparent 2px;
      border-radius: 999px;
      transition: max-width .3s ease-in-out, border-color .3s ease-in-out;

      &.is_active {
        max-width: 100%;
        border-color: vars.$primary-white; 

        .input_container {
          .search_input {
            visibility: visible;
          }
        }
      }

      .search_btn {
        background-color: inherit;
        color: inherit;
        cursor: pointer;
        border: none;
        
        padding: .2rem;
        font-size: inherit;
      }

      .input_container {
        display: flex;
        place-items: center;

        transition: width .3s ease;
        transform-origin: right;

        form{
          display:inline-flex;
        }

        .search_input {
          visibility: hidden;
          background-color: transparent;
          color: inherit;
          border: 0;
          outline: none;
          font-size: inherit;
        }

        .close_icon {
          visibility: hidden;

          font-size: 110%;
          font-weight: bold;
          cursor: pointer;

          color: vars.$primary-white;
          background-color: transparent;
          border: none;

          &.show {
            visibility: visible;
          }
        }
      }
    }

    &.hidden {
      transform: translateY(-100%);
    }
  }