@use '../../styles/variables' as vars;

.billboard {
    position: relative;

    display: flex;
    justify-content:left;
    width: 100%;
    justify-content: center;

    img{
      width: 85%;
      filter:brightness(0.5);
      aspect-ratio: 9/5;
      mask-image: linear-gradient(black 80%, transparent);
    }
    .media_info {
      position: absolute;
      top: 40%;
      display: flex;
      width: fit-content;
      height: fit-content;
      flex-direction: column;
      padding: 7% 5%;
      gap: clamp(0rem, 0.9vw, 2.5rem);
      
      p, h1 {
        margin: 0;
      }
    }

    .btn_container {
      display: flex;
      gap: clamp(0.5rem, 1.8vw, 1rem);
      padding-top: clamp(0.2rem, 1vw, 1.4rem);
    }
  }

  @media (max-width:760px) {
    .billboard {
      width: 80%;
      justify-content: center;

      .media_info { top: 65%; text-align: center; }

      .btn_container { justify-content: space-around; }
      img {
        aspect-ratio: 9/14;
      }
    }
  }

  @media (max-width: 400px) { .billboard { .media_info { top:60% } } }