 @use '../../../../styles/variables' as vars;
 
 .search_container {
      display: flex;
      overflow: hidden;
      // max-width: max(3%, 1rem);

      background-color: transparent;
      font-size: vars.$medium-font;
      
      // padding: 0.1rem;
      border: solid transparent 2px;
      border-radius: 999px;
      transition: width .3s ease-in-out, border-color .3s ease-in-out;

      .search_btn {
        background-color: inherit;
        color: inherit;
        cursor: pointer;
        border: none;
        font-size: inherit;
      }

      .input_container {
        display: flex;
        place-items: center;

        transition: width .3s ease;
        transform-origin: right;
        width: 0;
        padding: 0;

        form{
          display:inline-flex;
        }

        .search_input {
          visibility: hidden;
          padding: 0;
          width: 0;
          background-color: transparent;
          color: inherit;
          border: 0;
          outline: none;
          font-size: inherit;
        }

        .close_icon {
          width: 0;
          padding:0;
          background-color: inherit;
          color: inherit;
          cursor: pointer;
          border: none;
          // color: vars.$primary-white;

          visibility: hidden;

          font-size: 110%;
          font-weight: bold;

          &.show {
            width: auto;
            visibility: visible;
          }
        }
      }

      &.is_active {
        // max-width: max(3%, 1rem);
        border-color: vars.$primary-white; 

        .search_btn {
          padding: 0.4rem 0.8rem;
        }
        .input_container {
          width: auto;
          transition: width .3s ease;

          .search_input {
            width: 65vw;
            visibility: visible;
          }
        }
      }
    }