// ---- ---- ---- ---- VARIABLES ---- ---- ---- ----
@use '../../../../styles/variables' as vars;

ul {
    padding: 0;
    margin: 0;

    li {
        list-style: none;

        .links {
            position: relative;
        }

        @media (min-width: 650px) {
            .is_active::before {
            content: '';
            display: block;
            position: absolute;
            height: 15%;
            width: 70%;
        
            background-color: vars.$primary-red;
            bottom: -15%;
            border-radius: 2px;
        
            left: 50%;
            transform: translateX(-50%);
            }
            .links{
                border: none;              /* quita el borde del “botón” */
                background: none;          /* quita el glass */
                backdrop-filter: none;     
                border-radius: 0;
            }
        }
      }
  }

@media (max-width: 650px) {
    ul {
        display: flex;
        margin-top: 5vw;
        height: 100%;
        width: 100%;
        gap: 3%;
        li {
            .is_active {
                // width: .2rem;
                // height: 100%;
                // left: 0;
                // bottom: 0;
                // transform: translateY(-100%);
                // transform: translateX(-200%);
                background: rgba(255, 255, 255, 0.2);
                backdrop-filter: blur(20px);
            }
        }
    }
}