.smallBtn {
    background-color: inherit;
    color: inherit;
    cursor: pointer;
    border: none;
}

.closeBtn { // this is not reusable code
    visibility: hidden;
    font-size: 170%;
    font-weight: bold;

    &.show {
        visibility: visible;
    }
}

.searchBtn { // this is not reusable code
    font-size: inherit;
}