$white-color: #F2F2F2;
$primary: #111215;

.title1 {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    letter-spacing: .7px;

    color: $white-color;
}

.title2 {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 1rem;

    color: $white-color;
}

.text {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;

    color: $white-color;
}

.section {
    background-color: $primary;
    border-radius: 2rem;
    // margin: 0 2rem;
}